.zl-home-wrapper {
  @media screen and (min-width: 992px) {
    .carousel {
      position: relative;
    }

    .container {
      width: 70%;
      margin: 70px auto;
    }
  }
  @media screen and (max-width: 992px) {
    .container {
      width: 98%;
      margin: 0 auto;
    }
  }
}
