.zl-home-wrapper {
  .info {
    margin-top: 50px;

    .item1 {
      .card {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        gap: 50px 36px;
        width: 100%;
      }
    }

    .item2 {
      .content {
        display: grid;
        grid-template-columns: 60% 40%;

        .left {
          ul {
            li {
              margin-bottom: 40px;
            }
          }
        }

        .right {
          img {
            width: 100%;
          }
        }
      }
    }

    .title {
      padding: 40px 0;
      font-size: 40px;
      text-align: center;
    }
  }
}
