.zl-product-info-three-wrapper {
  @media screen and (min-width: 992px) {
    margin-top: 100px;

    .content {
      .col {
        display: grid;
        row-gap: 20px;
        color: var(--yougong-base-color);
        text-align: center;

        .col-one {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 15px 0;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-two {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 60px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-three {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 30px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-four {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 30px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-five {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-six {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }
      }

      .principle {
        margin-top: 20px;

        .title {
          padding: 20px 0;
        }

        .con {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: 20px;

    .content {
      .col {
        display: grid;
        row-gap: 20px;
        color: var(--yougong-base-color);
        text-align: center;

        .col-one {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 10px 0;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-two {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 30px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-three {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 30px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-four {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 30px;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-five {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }

        .col-six {
          display: grid;
          grid-template-columns: 100%;

          & > div {
            padding: 15px 0;
            background-position: 100% 100%;
            background-size: cover;
            border-radius: 8px;
          }
        }
      }

      .principle {
        margin-top: 20px;

        .title {
          padding: 20px 0;
          font-size: 1.125rem;
        }

        .con {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
