@import 'normalize.css';

/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none !important;
  border: none;
  outline: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

i,
em {
  font-style: normal;
}

input,
textarea,
button,
select,
table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  vertical-align: middle;
  border: none;
}

/* 重置滚动条样式 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 定义滚动条轨道 内阴影+圆角 */

::-webkit-scrollbar-track {
  /* 背景内阴影 */

  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */

  border-radius: 10px;

  /* 滚动条背景颜色 */

  /* background-color: rgba(0, 163, 245, 0.4); */
}

/* 定义滑块 内阴影+圆角 */

::-webkit-scrollbar-thumb {
  background-color: #eff1f7;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

/* 滑块hover效果 */

::-webkit-scrollbar-thumb:hover {
  background: #eef2ff;
  border-radius: 5px;

  /* 内阴影 */

  box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
}

/* 修改antd部分样式 */

@media (min-width: 992px) {
  .ant-carousel .slick-slider .slick-dots li {
    width: 10px;
  }

  .ant-carousel .slick-slider .slick-dots .slick-active {
    width: 12px;
  }
}

@media (min-width: 1025px) {
  .ant-carousel .slick-slider .slick-dots li {
    width: 80px;
  }

  .ant-carousel .slick-slider .slick-dots .slick-active {
    width: 100px;
  }
}

@media (min-width: 1680px) {
  .ant-carousel .slick-slider .slick-dots li {
    width: 100px;
  }

  .ant-carousel .slick-slider .slick-dots .slick-active {
    width: 120px;
  }
}

.ant-dropdown {
  width: 192px;
}

.ant-dropdown .ant-dropdown-menu {
  text-align: center;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 10px 0;
}

.ant-drawer .ant-drawer-content-wrapper .ant-drawer-content .antd-ul .antd-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--yougong-base-color3);
}

.ant-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .antd-ul
  .antd-li
  .antd-dt {
  display: flex;
  justify-content: space-between;
}

.ant-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .antd-ul
  .antd-li
  .open {
  display: block;
  margin-top: 10px;
  animation: hide-index 0.3s;
}

.ant-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .antd-ul
  .antd-li
  .close {
  display: none;
}

.ant-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .antd-ul
  .antd-li
  .open
  ul
  li {
  padding: 10px 0 10px 10px;
}

.ant-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .antd-ul
  .antd-li:hover
  a {
  text-decoration: none;
}

@keyframes hide-index {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
