:root {
  --yougong-base-color: #fff;
  --yougong-base-color2: #ccc;
  --yougong-base-color3: #e6e6e6;
  --yougong-base-color4: #f2f2f2;
  --yougong-base-color5: #272b36;
  --yougong-base-color6: #3498db;
  --yougong-base-color7: #666;
  --yougong-base-color8: #999;
  --yougong-base-color9: #000;
  --yougong-base-color10: #00b9f1;
  --yougong-base-color11: #d3d3d3;
}
