.zl-company-intro-wrapper {
  @media screen and (min-width: 992px) {
    .header {
      position: relative;
      height: 290px;
      color: var(--yougong-base-color);

      img {
        width: 100%;
        height: 100%;
      }

      .desc-one {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);

        .item-one {
          font-size: 1.5rem;
          color: var(--yougong-base-color6);
        }

        .item-two {
          display: block;
          padding: 10px 0;
          font-size: 1.25rem;
        }

        .item-three {
          width: 133px;
          height: 40px;
          font-size: 0.75rem;
          line-height: 40px;
          color: var(--yougong-base-color6);
          text-align: center;
          border: 1px solid var(--yougong-base-color6);
        }
      }
    }

    .info {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;

      .title {
        width: 30%;
        padding-bottom: 10px;
        margin: 0 auto;
        font-size: 1.625rem;
        color: var(--yougong-base-color6);
        border-bottom: 2px solid var(--yougong-base-color3);
      }

      .desc-one {
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        font-size: 0.875rem;
        color: var(--yougong-base-color7);

        .origin {
          margin-top: 10px;
        }
      }

      .desc-two {
        position: relative;
        height: 600px;
        margin-top: 40px;
        font-size: 0.875rem;
        color: var(--yougong-base-color);

        img {
          width: 100%;
          height: 100%;
        }

        .right {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);

          .ll {
            width: 30%;
            padding: 10px 0;
            margin: 0 auto;
            font-size: 1.5rem;
            color: var(--yougong-base-color);
            border-bottom: 2px solid var(--yougong-base-color3);
          }

          .origin {
            margin-top: 20px;
          }
        }
      }
    }

    .cooperation {
      margin: 100px 0;
      text-align: center;

      .title {
        width: 350px;
        padding-bottom: 10px;
        margin: 0 auto;
        font-size: 1.625rem;
        color: var(--yougong-base-color6);
        border-bottom: 2px solid var(--yougong-base-color3);
      }

      .content {
        margin-top: 20px;

        .desc {
          font-size: 0.875rem;
          color: var(--yougong-base-color7);
        }

        .info2 {
          margin-top: 50px;

          h3 {
            margin-bottom: 30px;
          }

          .img {
            img {
              padding-right: 40px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .header {
      position: relative;
      height: 140px;
      color: var(--yougong-base-color);

      img {
        width: 100%;
        height: 100%;
      }

      .desc {
        position: absolute;
        top: 20px;
        left: 10%;

        .item-one {
          font-size: 0.875rem;
          color: var(--yougong-base-color6);
        }

        .item-two {
          display: block;
          padding: 10px 0;
          font-size: 0.75rem;
        }

        .item-three {
          width: 100px;
          height: 40px;
          font-size: 0.75rem;
          line-height: 40px;
          color: var(--yougong-base-color6);
          text-align: center;
          border: 1px solid var(--yougong-base-color6);
        }
      }
    }

    .info {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;

      .title {
        width: 80%;
        padding-bottom: 10px;
        margin: 0 auto;
        font-size: 1.625rem;
        color: var(--yougong-base-color6);
        border-bottom: 2px solid var(--yougong-base-color3);
      }

      .desc-one {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        font-size: 0.875rem;
        color: var(--yougong-base-color7);

        .origin {
          margin-top: 10px;
        }
      }

      .desc-two {
        position: relative;
        height: 200px;
        margin-top: 30px;
        color: var(--yougong-base-color);

        img {
          width: 100%;
          height: 100%;
        }

        .right {
          position: absolute;
          top: 50%;
          left: 0;
          padding: 10px;
          transform: translateY(-50%);

          .ll {
            display: none;
          }

          .origin {
            width: 100%;
            margin-top: 20px;
            font-size: 0.75rem;
            color: var(--yougong-base-color3);
          }
        }
      }
    }

    .cooperation {
      margin: 40px 0;
      text-align: center;

      .title {
        width: 98%;
        padding-bottom: 10px;
        margin: 0 auto;
        font-size: 1.625rem;
        color: var(--yougong-base-color6);
        border-bottom: 2px solid var(--yougong-base-color3);
      }

      .content {
        margin-top: 20px;

        .desc {
          font-size: 0.875rem;
          color: var(--yougong-base-color7);
        }

        .info2 {
          margin-top: 30px;

          h3 {
            margin-bottom: 20px;
          }

          .img {
            img {
              padding-right: 30px;
            }
          }
        }
      }
    }
  }
}
