.zl-product-info-one-wrapper {
  @media screen and (min-width: 992px) {
    .content {
      .intro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        font-size: 0.75rem;
        color: var(--yougong-base-color7);
      }

      .target {
        margin-top: 40px;

        .target-content {
          .left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;

            li {
              display: flex;
              align-items: center;

              .desc {
                padding-left: 24px;

                span:first-child {
                  font-weight: 700;
                }

                span:last-child {
                  font-size: 14px;
                  color: var(--yougong-base-color7);
                }
              }
            }
          }
        }
      }

      .new {
        margin-top: 40px;

        .content {
          .new-top {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
          }

          .new-bottom {
            margin-top: 40px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .content {
      .intro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        font-size: 0.75rem;
        color: var(--yougong-base-color7);
      }

      .target {
        margin-top: 20px;

        .title {
          padding: 20px 0;
          font-size: 18px;
        }

        .target-content {
          .left {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;

            li {
              display: flex;
              align-items: center;

              .desc {
                padding-left: 24px;

                span:first-child {
                  font-weight: 700;
                }

                span:last-child {
                  font-size: 14px;
                  color: var(--yougong-base-color7);
                }
              }
            }
          }
        }
      }

      .new {
        margin-top: 20px;

        .title {
          padding: 20px 0;
          font-size: 1.125rem;
        }

        .content {
          .new-top {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
          }

          .new-bottom {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
