.zl-little-card-wrapper {
  display: grid;
  grid-template-columns: 68px auto;
  align-items: center;
  padding: 25px 12px;
  border: 1px solid var(--yougong-base-color3);

  .img {
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    color: var(--yougong-base-color10);
  }

  .content {
    margin-left: 10px;
    text-align: left;

    .title {
      display: block;
      margin-bottom: 10px;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .desc {
      font-size: 0.75rem;
    }
  }
}
